
     * {
          list-style: none;
     }
     .main {
         display: inline-flex;
         margin-top: 70px;
         overflow: hidden;
         width: 100%;
          
     }
     /* header */
     .search-container > button {
        margin-left: -5px;
        height: 46px;
        width: 46px;
        padding-bottom: 2px;
    }
    button > i {
        font-size: 15px;
    }
    header{
        height: 70px;
        width: 100%;
        left: 0px;
        display: flex;
        justify-content: space-between;
        align-items:center;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
        z-index:1;
        position: absolute;
    }
    .notification-paw {
        padding-right: 10px;
    }
    .search-container {
        width: 40%;
        
    }
    .search-container > input {
       
         height: 40px;
         width: calc(90% - 84px);
     } 
    
     .search-container > input:focus {
       
        outline: solid 2px rgb(38, 128, 247);
    } 
     .search-container > .icon {
         margin-bottom: 20px;
         margin-top: 10px;

     }

    .icon {
        
        font-size: 25px;
        padding-left: 20px; 
        opacity: 0.5;
    }
    .icon:hover {
        
        opacity: 01;
    }

    .logo {
        padding-left: 10px;
        border: 10px;
        border-color: black;
    }
    .menu ul li {
        padding: 5px 0;
        border-top: 1px solid rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
    }
    .menu ul {
        padding:0;
        margin: 0;
    }
    .menu ul li i {
        list-style: none;
        display: flex;
        align-items: center;
        
        padding-left: 10px;
    }
    .menu ul li a {
        display: inline-block;
        margin-left: 5px;
        text-decoration: none;
        color: rgba(0,0,0,1);
    }
    .menu {
        position: absolute;
        top: 45px ;
        right: 5px;
        background: rgb(255, 255, 255);
        width: 200px;
        display: none;
        box-sizing: 0 5px	25px rgba(0,0,0,0.1);
        border-radius: 10px ;
        transition: 0.5 ;
        border: 1px solid rgba(0,0,0,0.1);
        

    }
    .menu ul li:hover {
        background-color: rgba(216, 216, 216, 0.63);
    }
    .show:hover + .menu{
        
       display: block;
    }
    .menu:hover {
        display: block;
    }

    /* side bar */
    .container {
        padding-top: 10px;
        margin-top: 10px;
        display: block;
        justify-content: flex-start;
        left: 0;
        width: 250px;
        height: 100%;
        background: rgb(248, 248, 248);
        margin-right: 0;
        
        
        
    }
    .streams {
        height: 400px;
    }
    .container > .streams {
        display: flex;
        height: 100%;
        overflow-x: auto;
        flex-direction: column;
        
       }
    .line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 10px;
    }
    .line:hover {
        background: rgb(231, 231, 231);
    }
    
    .left {
        display: inline-flex;
    }
   .streams .left {
        
        justify-content: left;
        padding-left: 10px;
       
    }
    .right {
        display: inline-flex;
       justify-content: right;
       margin-right: 10px;
       float : right;
    }
  .streams .text {
        padding-left: 15px;
        padding-top: 4px;
    }
    .text.live::before {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f111";
        font-size: 0.5em;
        color: red;
        margin-right: 5px;
        padding-top: 5px;
    }
    .social-media {
        padding-top: 10px;
        padding-left: 15px;
        
    }
    .social-media > .icon {
        display: inline;
        font-size: 1.5em;
        opacity: 1;
        
    }
    .social-media > .icon:hover {
        color: rgb(38, 128, 247);
        
    }
    .info >.text {
        padding: 10px ;
        font-size: 24px;
        text-align: center;
    }
    .info >.text::selection {
        color: rgb(255, 255, 255); /* Цвет текста */
        background: rgb(255, 174, 0); /* Цвет фона */
       }
    .info-block {
        margin-top: 20px;
        padding: 20px;
        height: 150px;
    }
    .info {
        margin-top: 10px;
        padding-bottom: 20px;
        background: rgb(231, 231, 231);
    }
    
    /* tegs */

    .tegs {
        display: flex;
        height: 34px;
        overflow-x: scroll;
        flex-direction: row;
        margin-top: 10px;
        padding-top: 10px;
        margin-bottom: 20px;
    }
    .tegs > button {
       padding: 2px; 
       margin-right: 10px;
       height: 24px;
       border-radius: 30px ;
       border: none;
       
    }
    .tegs > button:first-child {
        color: rgb(255, 255, 255); /* Цвет текста */
        background: rgb(255, 174, 0); /* Цвет фона */
     }

     .tegs > button:hover {
        background-color: rgba(216, 216, 216, 0.63);
     }
    
    .tegs::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }
    .content {
        display: block;
        overflow: hidden;
        margin:10px;
        padding: 10px;
        width: 100%;
    }
    /* video*/
    .media {
        display: grid;
        grid-gap: 10px;
        width: 100%;
        grid-template-columns:repeat(auto-fill, 24%) ;
    }
    .video {
        display: block;
        align-content: center;
        width: 100%;
        position: relative;
    }
    .description {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .midle {
        display: block;
    }
    .thumbnail {
        display: block;
    }

    .preview  {
        position: relative;
        
    }
    .preview > img  {
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    
    .paw {
        position: absolute;
        opacity: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.425);
        color:rgba(255, 255, 255, 0.89);
        text-align: center;
        justify-content: center;
        font-size: 2em;
        top:0;
        z-index: 2;
    }
    .paw >i {
        width: 100%;
        height: 50%;
        padding-top:25%;
    }
    
    
    .time-status  {
        display: inline-block;
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 5px;
        padding: 5px;
        height: 12px;
        color: white;
        border-radius: 10px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        align-items: center;
        display: inline-flex;
        background-color: rgba(0,0,0,0.5);
        z-index: 3;
    }
    .live-status {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1em;
        margin: 10px;
        padding: 3px 4px;
        height: 12px;
        color: rgb(255, 255, 255);
        background-color: red;
        border-radius: 5px;
        font-weight: 500;
        display: flex;
        flex-direction: row;
        align-items: center;
        display: inline-flex;
        z-index: 3;
    }
    .author-of-video {
        font-size: 14px;
        color: rgba(124, 124, 124, 0.877);
    }
    .description {   
        margin: 5px;
    }
    .midle {
        margin-left: 10px;
    }
     .paw:hover  {
        opacity: 1;
     }
     .text:hover {
         color: rgb(0, 89, 255);
     }
     .author-of-video:hover,
     .name:hover {
        color: rgb(0, 89, 255);
    }
    .name {
        text-overflow: ellipsis;
    }
    .clicable:hover {
        cursor : pointer;
    }

    footer {
        margin: 20px;
        padding: 10px;
        text-align: center;
        font-size: 2em;
    }

    footer > span::after {

        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f6be";
        padding: 10px;
        

    }
    
    @media all and (max-width: 1200px) {
        .line >.text,
        .left > .text {
            display: none;
        }
        .info-block {
            display: none;
        }
        .container {
            width: 70px;
        }
        
    }

    @media all and (max-width: 1200px) and (min-width: 800px) {
        .line >.text,
        .left > .text {
            display: none;
        }
        .info-block {
            display: none;
        }
        .container {
            width: 70px;
        }
        
    }
    @media all and (max-width: 1500px) and (min-width: 800px) {
        
        .media {
            
            grid-template-columns:repeat(auto-fill, 32%) ;
        }
    }
    @media all and (max-width: 1000px) and (min-width: 800px) {
        
        .media {
            
            grid-template-columns:repeat(auto-fill, 49%) ;
        }
    }
    @media all and (max-width: 800px) {
        
        .media {
            
            grid-template-columns:repeat(auto-fill, 99%) ;
        }
    }
    


    